.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 100%;
    max-width: 90%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-right: 0;
}

.closeButton {
    text-align: right;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px; 
    cursor: pointer;
    color: #000; 
    z-index: 10;
}

.modalHeader {
    text-align: center;
    margin-bottom: 20px;
}

.successIcon {
    font-size: 36px;
    color: green;
}

.rejectIcon {
    font-size: 36px;
    color: red;
}

h2 {
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

h1 {
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #121E6C;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #606060;
    margin: 5px 0;
}

.modalBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalBody p {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.deduction {
    color: red;
}

.paymentMethod {
    font-weight: bold;
}

.paymentType {
    color: #121E6C;
    text-decoration: underline;
    cursor: pointer;
}
