.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.row > * {
    flex: 1;
    margin-right: 10px;
}

.row > *:last-child {
    margin-right: 0;
}


