.summaryCard {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.cardHeader {
    background: linear-gradient(90deg, #121E6C 0%, #EE424E 100%);
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.cardHeader h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.infoIcon {
    background-color: white;
    color: #121E6C;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}

.cardBody {
    padding: 20px;
    text-align: center;
}

.totalAmount {
    font-size: 24px;
    font-weight: bold;
    color: #121E6C;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 600px) {
    .summaryCard {
        margin: 10px;
        padding: 10px;
        border-radius: 8px;
    }

    .cardHeader {
        flex-direction: column;
        padding: 10px;
        align-items: flex-start;
    }

    .cardHeader h3 {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .infoIcon {
        padding: 5px;
        font-size: 12px;
    }

    .cardBody {
        padding: 15px;
    }

    .totalAmount {
        font-size: 20px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .summaryCard {
        margin: 15px;
        padding: 15px;
        border-radius: 9px;
    }

    .cardHeader {
        padding: 12px;
    }

    .cardHeader h3 {
        font-size: 15px;
    }

    .infoIcon {
        padding: 7px;
        font-size: 14px;
    }

    .cardBody {
        padding: 18px;
    }

    .totalAmount {
        font-size: 22px;
    }
}

@media (min-width: 1025px) {
    .summaryCard {
        margin: 20px;
        padding: 20px;
    }

    .cardHeader {
        padding: 15px;
    }

    .cardHeader h3 {
        font-size: 16px;
    }

    .infoIcon {
        padding: 5px 10px;
        font-size: 16px;
    }

    .cardBody {
        padding: 20px;
    }

    .totalAmount {
        font-size: 24px;
    }
}
